In [1]:
import pandas as pd

In [2]:
import os

In [76]:
df = pd.DataFrame()

In [77]:
def combineData(foldername):
    global df
    filepath =f'/home/arcgate/Downloads/Datasets_Healthy_Older_People/{foldername}'  # formating is used it has more data(file)
    for filename in os.listdir(filepath):
    #     print(filename)
        if(filename!='README.txt'):
            temp  =  pd.read_csv(os.path.join(filepath,filename),header=None, index_col=None)
    #         print(temp)
            df = pd.concat([df,temp])

In [78]:
combineData('S1_Dataset')
combineData('S2_Dataset')

In [79]:
df

          0         1        2         3  4     5        6       7  8
0      0.00  0.647240  0.10105  0.989780  3 -66.5  1.17500  922.75  3
1      2.25  0.447910  0.21588  0.875750  3 -67.0  5.40570  921.75  3
2      2.50  0.447910  0.21588  0.875750  3 -68.0  1.55390  922.75  3
3      3.50  0.354110  0.25033  0.830140  3 -66.0  6.10680  920.75  3
4      4.00  0.354110  0.25033  0.830140  3 -68.0  0.93573  923.25  3
..      ...       ...      ...       ... ..   ...      ...     ... ..
199  562.48  0.002345  1.04270 -0.047893  1 -51.0  4.37180  920.75  4
200  563.45  0.201680  0.99674 -0.036490  1 -52.5  4.31050  920.25  4
201  563.70  0.201680  0.99674 -0.036490  1 -52.0  4.14330  920.25  4
202  564.70 -0.068007  0.98526 -0.116310  1 -61.0  0.13959  921.25  4
203  567.70 -0.068007  0.98526 -0.116310  1 -59.0  0.89738  922.25  4

[75128 rows x 9 columns]

In [15]:
os.path.join(filepath,'d1p01M')

'/home/arcgate/Downloads/Datasets_Healthy_Older_People/S1_Dataset/d1p01M'

In [16]:
pd.read_csv(os.path.join(filepath,'d1p01M'))

          0  0.27203   1.0082  -0.082102  1  -63.5   2.4252  924.25  1.1
0      0.50  0.27203  1.00820  -0.082102  1  -63.0  4.73690  921.75    1
1      1.50  0.44791  0.91636  -0.013684  1  -63.5  3.03110  923.75    1
2      1.75  0.44791  0.91636  -0.013684  1  -63.0  2.03710  921.25    1
3      2.50  0.34238  0.96229  -0.059296  1  -63.5  5.89200  920.25    1
4      3.25  0.34238  0.96229  -0.059296  4  -56.5  1.25630  924.75    1
..      ...      ...      ...        ... ..    ...      ...     ...  ...
395  251.00  0.87003  0.46851   0.009122  4  -58.5  0.73631  921.75    1
396  251.25  0.87003  0.46851   0.009122  1  -57.5  0.70870  923.25    1
397  251.50  0.87003  0.46851   0.009122  1  -59.0  0.25157  924.75    1
398  253.25 -0.00938  0.95081  -0.116310  1  -58.5  0.35282  924.25    1
399  254.00 -0.00938  0.95081  -0.116310  1  -56.5  5.13880  923.25    1

[400 rows x 9 columns]

Empty DataFrame
Columns: []
Index: []