In [1]:
import pandas as pd
import numpy as np

In [2]:
books = pd.read_csv('Books.csv')
users = pd.read_csv('Users.csv')
ratings = pd.read_csv("Ratings.csv")

/home/arcgate/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [4]:
users.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [5]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [6]:
# print shape
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 8)
(278858, 3)
(1149780, 3)

In [7]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [8]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [9]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [10]:
# for duplicate element 
books.duplicated().sum()

0

In [11]:
ratings.duplicated().sum()

0

In [12]:
users.duplicated().sum()

0

### Popularity Based Recommender System

* We show the highest rating top 50 books (average rating)
* we add those book only which contain min. 250 rating/votes in the books

In [13]:
rating_with_name = ratings.merge(books, on='ISBN')
rating_with_name.head(3)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [14]:
# book title -- groupby becoz same book have different ISBN number 
num_rating_df = rating_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
print(num_rating_df.head(2))
num_rating_df.rename(columns = {'Book-Rating':'num_ratings'},inplace = True)
num_rating_df.head()

                                          Book-Title  Book-Rating
0   A Light in the Storm: The Civil War Diary of ...            4
1                              Always Have Popsicles            1

                                          Book-Title  num_ratings
0   A Light in the Storm: The Civil War Diary of ...            4
1                              Always Have Popsicles            1
2               Apple Magic (The Collector's series)            1
3   Ask Lily (Young Women of Faith: Lily Series, ...            1
4   Beyond IBM: Leadership Marketing and Finance ...            1

In [15]:
# book name with avg.rating
avg_rating_df = rating_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns = {'Book-Rating':'avg_rating'},inplace = True)
avg_rating_df.head()

                                          Book-Title  avg_rating
0   A Light in the Storm: The Civil War Diary of ...        2.25
1                              Always Have Popsicles        0.00
2               Apple Magic (The Collector's series)        0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...        8.00
4   Beyond IBM: Leadership Marketing and Finance ...        0.00

In [16]:
# now merge the num_rating_df and avg_rating_df on the bases Book-title

popularity_df = num_rating_df.merge(avg_rating_df, on = 'Book-Title')
popularity_df.head()

                                          Book-Title  num_ratings  avg_rating
0   A Light in the Storm: The Civil War Diary of ...            4        2.25
1                              Always Have Popsicles            1        0.00
2               Apple Magic (The Collector's series)            1        0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...            1        8.00
4   Beyond IBM: Leadership Marketing and Finance ...            1        0.00

*********************************

In [17]:
# top 50 books
popularity_df = popularity_df[popularity_df['num_ratings']>=250].sort_values('avg_rating', ascending = False).head(50)
popularity_df

,Book-Title,num_ratings,avg_rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
191612,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
187377,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
211384,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
219741,To Kill a Mockingbird,510,4.700000
183573,The Da Vinci Code,898,4.642539
187880,The Five People You Meet in Heaven,430,4.551163
180556,The Catcher in the Rye,449,4.545657
196326,The Lovely Bones: A Novel,1295,4.468726
764,1984,284,4.454225
144165,Prodigal Summer: A Novel,253,4.450593
128670,Neverwhere,265,4.449057
206502,The Secret Life of Bees,774,4.447028
168719,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
223135,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970
204387,The Red Tent (Bestselling Backlist),723,4.334716
191589,The Hitchhiker's Guide to the Galaxy,268,4.328358
129379,Nickel and Dimed: On (Not) Getting By in America,335,4.289552
93381,Into the Wild,252,4.273810
63867,Fahrenheit 451,409,4.264059
74750,Girl with a Pearl Earring,526,4.218631
136145,Outlander,283,4.173145
233370,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
156102,Seabiscuit: An American Legend,275,4.098182
107962,Life of Pi,664,4.088855
176845,The Bean Trees,389,4.087404
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
8434,ANGELA'S ASHES,279,4.075269
76343,Good in Bed,490,4.055102
64931,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383
12700,American Gods,302,4.006623
161645,Skipping Christmas,322,4.006211
105777,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145
189551,"The Golden Compass (His Dark Materials, Book 1)",336,4.000000
181679,The Color Purple,314,3.964968
160336,Silence of the Lambs,256,3.960938
8752,About a Boy,262,3.900763
158138,Seven Up (A Stephanie Plum Novel),278,3.888489
175097,The Alchemist: A Fable About Following Your Dream,266,3.875940
80069,Hard Eight : A Stephanie Plum Novel (A Stephan...,269,3.825279
170101,Suzanne's Diary for Nicholas,457,3.820569
111073,Lord of the Flies,259,3.818533
5664,A Prayer for Owen Meany,413,3.796610
212070,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409
233851,White Oleander : A Novel (Oprah's Book Club),356,3.772472

In [18]:
# now merge the data with book so we get proper detail of the book 
popularity_df = popularity_df.merge(books,on = 'Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_rating']]
popularity_df.head()

,Book-Title,Book-Author,Image-URL-M,num_ratings,avg_rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,556,5.183453

In [19]:
popularity_df['Image-URL-M'][0]

'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'

### Collaborative Filtering Based Recommender System

* we consider only those user **Most Experience**
* user>200 and book > 50
* A user which give more than 200 book rating and book which contain min 50 rating

In [20]:
rating_with_name.head(2)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [33]:
# groupby on the bases of the 'User-ID' 
a = rating_with_name.groupby('User-ID').count()['Book-Rating'] >200
book_lover = a[a].index
book_lover

Int64Index([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,
              6323,   6543,
            ...
            271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427,
            277639, 278418],
           dtype='int64', name='User-ID', length=811)

In [41]:
# filtering on the bases of user
filter_rating = rating_with_name[rating_with_name['User-ID'].isin(book_lover)]
filter_rating.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

* Total 10 lacks entry but only 4 lacks74 thousand entry occurs

In [66]:
filter_rating.shape

(474007, 10)

In [67]:
# filtering on the books
b =filter_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_book = b[b].index

In [68]:
final_rating = filter_rating[filter_rating['Book-Title'].isin(famous_book)]

In [69]:
final_rating = final_rating.drop_duplicates()
final_rating.shape

(58586, 10)

In [70]:
final_rating.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...

In [76]:
# pivot tabel-- pivot table
pt = final_rating.pivot_table(index='Book-Title', columns = 'User-ID',values = 'Book-Rating')
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,9.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN

* In case most of the value are null so fill the null value

In [77]:
pt.fillna(0, inplace=True)
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

* 706 books and 810 are trusted users

#### vector
* each book can be represent in form of 810 dimensional cordinate system
* **Simillar vector** --- calculate the distance b/w --**cosine_similarity**

In [78]:
from sklearn.metrics.pairwise import cosine_similarity

In [79]:
similarity_score = cosine_similarity(pt)

In [81]:
similarity_score.shape
#706 book ka euclidean distance nikala h

(706, 706)

* function jisme aap ke book ka name dege and in output it reflect back 5 simillar name of that book

In [89]:
# first find out the index value of any book
np.where(pt.index =='4 Blondes')

(array([3]),)

In [91]:
a = np.where(pt.index == '4 Blondes')[0][0]
a

3

In [94]:
similarity_score[a]

array([0.        , 0.        , 0.        , 1.        , 0.        ,
       0.11158235, 0.        , 0.        , 0.07439555, 0.        ,
       0.        , 0.14576203, 0.05499338, 0.        , 0.        ,
       0.        , 0.        , 0.04289816, 0.        , 0.11215379,
       0.        , 0.        , 0.02473898, 0.        , 0.0254068 ,
       0.12305174, 0.        , 0.        , 0.        , 0.        ,
       0.09381049, 0.        , 0.06859607, 0.        , 0.0779401 ,
       0.03771542, 0.08134518, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.05477141, 0.        , 0.05958855,
       0.        , 0.        , 0.07684047, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.06703391,
       0.        , 0.        , 0.03245271, 0.        , 0.0408861 ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.0094036 , 0.        , 0.        , 0.00939554, 0.        ,
       0.        , 0.        , 0.        , 0.00945087, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.01391526, 0.        , 0.08376125, 0.        , 0.        ,
       0.        , 0.        , 0.13135471, 0.17154711, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.04600352, 0.        , 0.05049882, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.05043018,
       0.        , 0.10676555, 0.05710297, 0.01066106, 0.        ,
       0.        , 0.08575255, 0.06960268, 0.00912889, 0.        ,
       0.        , 0.05441552, 0.        , 0.03913303, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.01440697, 0.        , 0.        , 0.12004349, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.0272477 , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.12334016, 0.        , 0.        , 0.00956496, 0.        ,
       0.        , 0.03990103, 0.14343389, 0.        , 0.        ,
       0.04560018, 0.06717621, 0.10647205, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.09259924, 0.06387072,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.04320058, 0.        , 0.01905907, 0.07076543,
       0.        , 0.        , 0.00955608, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.12883478, 0.06979597, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.06184529, 0.        , 0.        , 0.        ,
       0.        , 0.07890729, 0.        , 0.        , 0.03151186,
       0.09868722, 0.09922711, 0.        , 0.11398463, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00731979, 0.        , 0.08500151, 0.04228386,
       0.04304939, 0.0523528 , 0.        , 0.0814672 , 0.07937953,
       0.10513545, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.1488746 , 0.10506086, 0.        , 0.09415231,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.03707166, 0.        , 0.0891433 , 0.        ,
       0.05545546, 0.        , 0.        , 0.        , 0.        ,
       0.06332714, 0.        , 0.0412574 , 0.        , 0.        ,
       0.04811093, 0.00845878, 0.        , 0.        , 0.        ,
       0.04757652, 0.        , 0.        , 0.10491215, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.0392045 ,
       0.        , 0.04991736, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.09514653, 0.02815089, 0.        ,
       0.        , 0.        , 0.        , 0.11887355, 0.        ,
       0.        , 0.04907322, 0.        , 0.        , 0.        ,
       0.        , 0.11840184, 0.08608478, 0.        , 0.        ,
       0.        , 0.07837604, 0.06118933, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.02930631, 0.        ,
       0.        , 0.        , 0.14284952, 0.06750414, 0.        ,
       0.        , 0.        , 0.03625535, 0.03924103, 0.        ,
       0.        , 0.        , 0.0118392 , 0.        , 0.        ,
       0.        , 0.05619894, 0.08016503, 0.        , 0.0571244 ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.08985299, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.17173795, 0.        ,
       0.13237924, 0.00934346, 0.        , 0.04385491, 0.        ,
       0.        , 0.        , 0.        , 0.06077196, 0.        ,
       0.09678465, 0.        , 0.03294921, 0.01218133, 0.        ,
       0.        , 0.09655285, 0.        , 0.18082023, 0.        ,
       0.03096698, 0.        , 0.        , 0.        , 0.13583222,
       0.        , 0.11320984, 0.        , 0.        , 0.19281549,
       0.12950201, 0.        , 0.0538561 , 0.        , 0.        ,
       0.        , 0.11529596, 0.13520967, 0.03530103, 0.05833565,
       0.        , 0.        , 0.08270159, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.10434075, 0.        , 0.        , 0.080029  , 0.        ,
       0.        , 0.        , 0.16338132, 0.        , 0.        ,
       0.17982397, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07149048, 0.        , 0.        , 0.07343662,
       0.012991  , 0.        , 0.06441866, 0.        , 0.        ,
       0.03800051, 0.        , 0.12113804, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.0892645 , 0.        ,
       0.        , 0.        , 0.        , 0.0186227 , 0.        ,
       0.        , 0.        , 0.04428181, 0.06261255, 0.        ,
       0.        , 0.04532712, 0.00941595, 0.03716325, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.0438688 , 0.08001838,
       0.06395111, 0.        , 0.        , 0.        , 0.        ,
       0.06109947, 0.06033541, 0.        , 0.        , 0.13638741,
       0.        , 0.1206014 , 0.        , 0.        , 0.13903237,
       0.0715168 , 0.        , 0.04737058, 0.07345872, 0.        ,
       0.05275083, 0.        , 0.06508571, 0.        , 0.        ,
       0.        , 0.13186636, 0.02110099, 0.        , 0.        ,
       0.        , 0.02328199, 0.02966354, 0.        , 0.        ,
       0.        , 0.14774674, 0.        , 0.        , 0.08744402,
       0.        , 0.        , 0.        , 0.06819965, 0.        ,
       0.06155462, 0.        , 0.        , 0.        , 0.        ,
       0.00938315, 0.12707201, 0.        , 0.        , 0.12726645,
       0.        , 0.09144571, 0.04450014, 0.        , 0.01026363,
       0.04124866, 0.        , 0.00868606, 0.        , 0.        ,
       0.07261226, 0.        , 0.        , 0.21653837, 0.11565017,
       0.        , 0.01068115, 0.        , 0.0669917 , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.06533776, 0.        , 0.        , 0.07274018, 0.        ,
       0.06030866, 0.07154773, 0.        , 0.        , 0.        ,
       0.        , 0.15044465, 0.        , 0.07894739, 0.02455742,
       0.06606221, 0.        , 0.02132214, 0.        , 0.        ,
       0.        , 0.06338858, 0.        , 0.        , 0.05785883,
       0.        , 0.0152785 , 0.        , 0.07198303, 0.01012946,
       0.02616119, 0.08277692, 0.09782603, 0.07587245, 0.        ,
       0.01101878, 0.        , 0.03814519, 0.        , 0.        ,
       0.        , 0.02726329, 0.12173922, 0.04951189, 0.        ,
       0.        , 0.0699969 , 0.        , 0.        , 0.        ,
       0.09616416, 0.07840325, 0.        , 0.        , 0.0943043 ,
       0.02710462, 0.        , 0.01086701, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.06194181, 0.06321971,
       0.        , 0.        , 0.        , 0.05856949, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.07223443, 0.        , 0.        ,
       0.09678655, 0.        , 0.        , 0.06191258, 0.        ,
       0.        , 0.        , 0.0411626 , 0.        , 0.        ,
       0.05156192, 0.        , 0.11258865, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.05758506, 0.        ,
       0.        , 0.02976597, 0.        , 0.12265144, 0.        ,
       0.03847017, 0.        , 0.        , 0.        , 0.        ,
       0.07726781, 0.        , 0.        , 0.06925589, 0.07256944,
       0.07672358, 0.        , 0.        , 0.        , 0.03348088,
       0.04574178, 0.12634133, 0.07134425, 0.10735806, 0.0211341 ,
       0.        , 0.        , 0.        , 0.        , 0.01194782,
       0.12348608, 0.10863774, 0.0762425 , 0.        , 0.        ,
       0.        ])

* we must perform the sorting and pick out most/best score, we must enumerate --> distance ke sath sath iteam ka index bhi show hoga 
* Sorting --> sorting is done on the bases of index not on the bases of distance
* so we pass the key value to sort
* [1:6] index is starting from the 2 nd position because in ist element it is itself and upto 5 steps

In [107]:
similar_iteams = sorted(list(enumerate(similarity_score[a])),key = lambda x:x[1],reverse=True)[1:6]
similar_iteams

[(553, 0.21653836784507968),
 (389, 0.19281549158555333),
 (378, 0.18082023336625944),
 (420, 0.17982397105535214),
 (358, 0.1717379494369234)]

* Now pull out all the index and fetch the data that require

In [119]:
list(books[books['Book-Title'] == pt.index[553]].drop_duplicates('Book-Title')['Book-Title'].values)

['The House of the Spirits']

* above output in form of list and we store into another list so we use the **Extend** function --- append two list and form single list
**********************************************
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

print(fruits)

o/p ---

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [122]:
def recommend(book_name):
    # index fetch
    index = np.where(pt.index == book_name)[0][0]
    similar_iteams = sorted(list(enumerate(similarity_score[index])),key = lambda x:x[1],reverse = True)[1:6]
    
    data = []
    for i in similar_iteams:
        iteam = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        iteam.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        iteam.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        iteam.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(iteam)
        
    return data

In [124]:
recommend('Year of Wonders')

['Bridget Jones: The Edge of Reason',
 'Helen Fielding',
 'http://images.amazon.com/images/P/0140298479.01.MZZZZZZZ.jpg']

In [125]:
import pickle
pickle.dump(popularity_df,open('popular.pkl','wb'))

In [127]:
books.drop_duplicates('Book-Title').head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [128]:
# dump the similarity score 

pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_score, open('similarity_score.pkl','wb'))